button {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: #3f525c;
    border-radius: 2px;
}
button:hover {
    background-color: #eee;
    cursor: pointer;
    color: darkred;
}
button.clear {
    height: 80px;
    font-family: Arial;
    background-color: grey;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }